In [2]:
import pandas as pd

In [3]:
# Overview of the data in the SEC_X table
df = pd.read_csv('TB_SEC_X.csv', encoding='cp1252')
df_EDA = pd.DataFrame({
    'column name' : df.columns,
    'dtype' : df.dtypes,
    'number of unique values' : df.nunique(),
    'number of entries' : df.count()
}).reset_index().drop(columns='index')

df_EDA

   column name    dtype  number of unique values  number of entries
0       ID_VIV  float64                   110127             110127
1       ID_PER   object                   110127             110127
2          UPM    int64                    17744             110127
3      VIV_SEL    int64                       24             110127
4        HOGAR    int64                        5             110127
5        N_REN    int64                       16             110127
6      DOMINIO   object                        3             110127
7      CVE_ENT    int64                       32             110127
8      NOM_ENT   object                       32             110127
9      CVE_MUN    int64                      269             110127
10     NOM_MUN   object                     1205             110127
11   T_INSTRUM   object                        6             110127
12     P10_1_1  float64                        3              71214
13     P10_1_2  float64                        3              71214
14     P10_1_3  float64                        3              71214
15     P10_1_4  float64                        3              71214
16     P10_1_5  float64                        3              71214
17     P10_1_6  float64                        3              71214
18     P10_1_7  float64                        3              71214
19     P10_1_8  float64                        3              71214
20     P10_1_9  float64                        3              71214
21       P10_2  float64                        3              71214
22       P10_3  float64                        8              20947
23     P10_4_1  float64                       10              20947
24     P10_4_2  float64                        6              20947
25     P10_4_3  float64                        7              20946
26    P10_5_01  float64                        2              20947
27    P10_5_02  float64                        2              20947
28    P10_5_03  float64                        2              20947
29    P10_5_04  float64                        2              20947
30    P10_5_05  float64                        2              20947
31    P10_5_06  float64                        2              20947
32    P10_5_07  float64                        2              20947
33    P10_5_08  float64                        2              20947
34    P10_5_09  float64                        2              20947
35    P10_5_10  float64                        2              20947
36    P10_5_11  float64                        2              20947
37   P10_6ANIO  float64                       31              20947
38    P10_6MES  float64                       15              20947
39       P10_7  float64                       10              19386
40     P10_8_1  float64                        2              19322
41     P10_8_2  float64                        2              19322
42     P10_8_3  float64                        2              19322
43     P10_8_4  float64                        2              19322
44     P10_8_5  float64                        2              19322
45     P10_8_6  float64                        2              19322
46     P10_8_7  float64                        2              19322
47     P10_8_8  float64                        2              19322
48     P10_8_9  float64                        2              19322
49    P10_8_10  float64                        2              19322
50    P10_8_11  float64                        2              19322
51    P10_8_12  float64                        2              19322
52    P10_8_13  float64                        2               9089
53    P10_8_14  float64                        2               9089
54    P10_8_15  float64                        4                695
55     FAC_VIV    int64                     1342             110127
56     FAC_MUJ    int64                     3004             110127
57     ESTRATO    int64                        4             110127
58     UPM_DIS    int64                    17744             110127
59     EST_DIS    int64                      617             110127

In [4]:
# Create method to print the column name and dtype to use with the SQL Schema
def table_schema(df):
    df_schema = pd.DataFrame({
    'column name' : df.columns,
    'dtype' : df.dtypes
    }).reset_index().drop(columns='index')
    df_schema.loc[(df_schema['dtype'] == 'int64'),'dtype'] = 'INTEGER'
    df_schema.loc[(df_schema['dtype'] == 'float64'),'dtype'] = 'DECIMAL'
    df_schema.loc[(df_schema['dtype'] == 'object'),'dtype'] = 'VARCHAR'
    for index, row in df_schema.iterrows():
        print(row['column name'], row['dtype'], ',')

In [5]:
# Column name and postgres dtype for the TB_SEC_X table
## This is done to simply copy paste the data in the schema instead of having to manually type all the columns and datatypes
table_schema(pd.read_csv('TB_SEC_X.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
HOGAR INTEGER ,
N_REN INTEGER ,
DOMINIO VARCHAR ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
T_INSTRUM VARCHAR ,
P10_1_1 DECIMAL ,
P10_1_2 DECIMAL ,
P10_1_3 DECIMAL ,
P10_1_4 DECIMAL ,
P10_1_5 DECIMAL ,
P10_1_6 DECIMAL ,
P10_1_7 DECIMAL ,
P10_1_8 DECIMAL ,
P10_1_9 DECIMAL ,
P10_2 DECIMAL ,
P10_3 DECIMAL ,
P10_4_1 DECIMAL ,
P10_4_2 DECIMAL ,
P10_4_3 DECIMAL ,
P10_5_01 DECIMAL ,
P10_5_02 DECIMAL ,
P10_5_03 DECIMAL ,
P10_5_04 DECIMAL ,
P10_5_05 DECIMAL ,
P10_5_06 DECIMAL ,
P10_5_07 DECIMAL ,
P10_5_08 DECIMAL ,
P10_5_09 DECIMAL ,
P10_5_10 DECIMAL ,
P10_5_11 DECIMAL ,
P10_6ANIO DECIMAL ,
P10_6MES DECIMAL ,
P10_7 DECIMAL ,
P10_8_1 DECIMAL ,
P10_8_2 DECIMAL ,
P10_8_3 DECIMAL ,
P10_8_4 DECIMAL ,
P10_8_5 DECIMAL ,
P10_8_6 DECIMAL ,
P10_8_7 DECIMAL ,
P10_8_8 DECIMAL ,
P10_8_9 DECIMAL ,
P10_8_10 DECIMAL ,
P10_8_11 DECIMAL ,
P10_8_12 DECIMAL ,
P10_8_13 DECIMAL ,
P10_8_14 DECIMAL ,
P10_8_15 DECIMAL ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
ESTRATO INTEGER ,
UPM_DIS INTEGER ,
EST_DIS INTEGER ,

In [6]:
# Column name and postgres dtype for the TSDem table
## This is done to simply copy paste the data in the schema instead of having to manually type all the columns and datatypes
table_schema(pd.read_csv('TSDem.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
HOGAR INTEGER ,
N_REN INTEGER ,
NOMBRE VARCHAR ,
PAREN INTEGER ,
SEXO INTEGER ,
EDAD INTEGER ,
P2_5 INTEGER ,
P2_6 INTEGER ,
NIV DECIMAL ,
GRA DECIMAL ,
P2_8 DECIMAL ,
P2_9 DECIMAL ,
P2_10 DECIMAL ,
P2_11 DECIMAL ,
P2_12 DECIMAL ,
P2_13 DECIMAL ,
P2_14 DECIMAL ,
P2_15 DECIMAL ,
P2_16 DECIMAL ,
COD_M15 DECIMAL ,
CODIGO DECIMAL ,
REN_MUJ_EL DECIMAL ,
REN_INF_AD DECIMAL ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
DOMINIO VARCHAR ,
ESTRATO INTEGER ,
EST_DIS INTEGER ,
UPM_DIS INTEGER ,

In [7]:
# Column name and postgres dtype for the TVIV table
## This is done to simply copy paste the data in the schema instead of having to manually type all the columns and datatypes
table_schema(pd.read_csv('TVIV.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
UPM INTEGER ,
VIV_SEL INTEGER ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
COD_RES INTEGER ,
P1_1 INTEGER ,
P1_2 INTEGER ,
P1_2_A INTEGER ,
P1_3 INTEGER ,
P1_4_1 INTEGER ,
P1_4_2 INTEGER ,
P1_4_3 INTEGER ,
P1_4_4 INTEGER ,
P1_4_5 INTEGER ,
P1_4_6 INTEGER ,
P1_4_7 INTEGER ,
P1_4_8 INTEGER ,
P1_4_9 INTEGER ,
P1_5 INTEGER ,
P1_6 INTEGER ,
P1_7 INTEGER ,
P1_8 INTEGER ,
P1_9 DECIMAL ,
P1_10_1 DECIMAL ,
P1_10_2 DECIMAL ,
P1_10_3 DECIMAL ,
P1_10_4 DECIMAL ,
FAC_VIV INTEGER ,
DOMINIO VARCHAR ,
EST_DIS INTEGER ,
UPM_DIS INTEGER ,
ESTRATO INTEGER ,

In [8]:
# Column name and postgres dtype for the TB_SEC_III table
## This is done to simply copy paste the data in the schema instead of having to manually type all the columns and datatypes
table_schema(pd.read_csv('TB_SEC_III.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
HOGAR INTEGER ,
T_INSTRUM VARCHAR ,
N_REN INTEGER ,
P3_1 INTEGER ,
P3_2 DECIMAL ,
P3_3 DECIMAL ,
P3_4 DECIMAL ,
P3_5 DECIMAL ,
P3_6 DECIMAL ,
P3_7 DECIMAL ,
P3_8 VARCHAR ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
DOMINIO VARCHAR ,
ESTRATO INTEGER ,
EST_DIS INTEGER ,
UPM_DIS INTEGER ,

In [9]:
# Column name and postgres dtype for the TB_SEC_IV table
## This is done to simply copy paste the data in the schema instead of having to manually type all the columns and datatypes
table_schema(pd.read_csv('TB_SEC_IV.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
HOGAR INTEGER ,
N_REN INTEGER ,
DOMINIO VARCHAR ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
T_INSTRUM VARCHAR ,
N_REN_ESP DECIMAL ,
P4AB_1 DECIMAL ,
P4AB_2 DECIMAL ,
P4A_1 DECIMAL ,
P4A_2 DECIMAL ,
P4B_1 DECIMAL ,
P4B_2 DECIMAL ,
P4BC_1 DECIMAL ,
P4BC_2 DECIMAL ,
P4C_1 DECIMAL ,
P4BC_3 DECIMAL ,
P4BC_4 DECIMAL ,
P4BC_5 DECIMAL ,
P4_1 INTEGER ,
P4_2 DECIMAL ,
P4_2_1 DECIMAL ,
P4_3 DECIMAL ,
P4_4 VARCHAR ,
P4_4_CVE DECIMAL ,
P4_5_AB DECIMAL ,
P4_5_1_AB DECIMAL ,
P4_6_AB DECIMAL ,
P4_7_AB DECIMAL ,
P4_8_1 INTEGER ,
P4_8_2 INTEGER ,
P4_8_3 INTEGER ,
P4_8_4 INTEGER ,
P4_8_5 INTEGER ,
P4_8_6 INTEGER ,
P4_8_7 INTEGER ,
P4_9_1 DECIMAL ,
P4_9_2 DECIMAL ,
P4_10_2_1 DECIMAL ,
P4_10_2_2 DECIMAL ,
P4_10_2_3 DECIMAL ,
P4_9_3 DECIMAL ,
P4_10_3_1 DECIMAL ,
P4_10_3_2 DECIMAL ,
P4_10_3_3 DECIMAL ,
P4_9_4 DECIMAL ,
P4_9_5 DECIMAL ,
P4_9_6 DECIMAL ,
P4_9_7 DECIMAL ,
P4_11 INTEGER ,
P4_12_1 INTEGER ,
P4_12_2 INTEGER ,
P4_12_3 INTEGER ,
P4_12_4 INTEGER ,
P4_12_5 INTEGER ,
P4_12_6 INTEGER ,
P4_12_7 INTEGER ,
P4_13_1 DECIMAL ,
P4_13_2 DECIMAL ,
P4_13_3 DECIMAL ,
P4_13_4 DECIMAL ,
P4_13_5 DECIMAL ,
P4_13_6 DECIMAL ,
P4_13_7 DECIMAL ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
ESTRATO INTEGER ,
UPM_DIS INTEGER ,
EST_DIS INTEGER ,

In [10]:
# List of csv files that will be used
# TB_SEC_III
# TB_SEC_IV
# TB_SEC_X
# TSDem.csv
# TVIV.csv

# Create an array with the filenames that were previously mentioned
file_list = ['TVIV.csv','TSDem.csv','TB_SEC_III.csv','TB_SEC_IV.csv','TB_SEC_X.csv']

# Create an empty dictionary that will be used to store the file name as a key and a list of all its columns as its value 
col_dict = {}

# Create a dataframe after reading each csv and get the column names as a list which is stored as a key : value pair
for file in file_list:
    column_list = pd.read_csv(file,encoding='cp1252').columns.values.tolist()
    col_dict[file] = column_list
col_dict

{'TVIV.csv': ['ID_VIV',
  'UPM',
  'VIV_SEL',
  'CVE_ENT',
  'NOM_ENT',
  'CVE_MUN',
  'NOM_MUN',
  'COD_RES',
  'P1_1',
  'P1_2',
  'P1_2_A',
  'P1_3',
  'P1_4_1',
  'P1_4_2',
  'P1_4_3',
  'P1_4_4',
  'P1_4_5',
  'P1_4_6',
  'P1_4_7',
  'P1_4_8',
  'P1_4_9',
  'P1_5',
  'P1_6',
  'P1_7',
  'P1_8',
  'P1_9',
  'P1_10_1',
  'P1_10_2',
  'P1_10_3',
  'P1_10_4',
  'FAC_VIV',
  'DOMINIO',
  'EST_DIS',
  'UPM_DIS',
  'ESTRATO'],
 'TSDem.csv': ['ID_VIV',
  'ID_PER',
  'UPM',
  'VIV_SEL',
  'CVE_ENT',
  'NOM_ENT',
  'CVE_MUN',
  'NOM_MUN',
  'HOGAR',
  'N_REN',
  'NOMBRE',
  'PAREN',
  'SEXO',
  'EDAD',
  'P2_5',
  'P2_6',
  'NIV',
  'GRA',
  'P2_8',
  'P2_9',
  'P2_10',
  'P2_11',
  'P2_12',
  'P2_13',
  'P2_14',
  'P2_15',
  'P2_16',
  'COD_M15',
  'CODIGO',
  'REN_MUJ_EL',
  'REN_INF_AD',
  'FAC_VIV',
  'FAC_MUJ',
  'DOMINIO',
  'ESTRATO',
  'EST_DIS',
  'UPM_DIS'],
 'TB_SEC_III.csv': ['ID_VIV',
  'ID_PER',
  'UPM',
  'VIV_SEL',
  'CVE_ENT',
  'NOM_ENT',
  'CVE_MUN',
  'NOM_MUN',
  'HOGAR',
  'T_INSTRUM',
  'N_REN',
  'P3_1',
  'P3_2',
  'P3_3',
  'P3_4',
  'P3_5',
  'P3_6',
  'P3_7',
  'P3_8',
  'FAC_VIV',
  'FAC_MUJ',
  'DOMINIO',
  'ESTRATO',
  'EST_DIS',
  'UPM_DIS'],
 'TB_SEC_IV.csv': ['ID_VIV',
  'ID_PER',
  'UPM',
  'VIV_SEL',
  'HOGAR',
  'N_REN',
  'DOMINIO',
  'CVE_ENT',
  'NOM_ENT',
  'CVE_MUN',
  'NOM_MUN',
  'T_INSTRUM',
  'N_REN_ESP',
  'P4AB_1',
  'P4AB_2',
  'P4A_1',
  'P4A_2',
  'P4B_1',
  'P4B_2',
  'P4BC_1',
  'P4BC_2',
  'P4C_1',
  'P4BC_3',
  'P4BC_4',
  'P4BC_5',
  'P4_1',
  'P4_2',
  'P4_2_1',
  'P4_3',
  'P4_4',
  'P4_4_CVE',
  'P4_5_AB',
  'P4_5_1_AB',
  'P4_6_AB',
  'P4_7_AB',
  'P4_8_1',
  'P4_8_2',
  'P4_8_3',
  'P4_8_4',
  'P4_8_5',
  'P4_8_6',
  'P4_8_7',
  'P4_9_1',
  'P4_9_2',
  'P4_10_2_1',
  'P4_10_2_2',
  'P4_10_2_3',
  'P4_9_3',
  'P4_10_3_1',
  'P4_10_3_2',
  'P4_10_3_3',
  'P4_9_4',
  'P4_9_5',
  'P4_9_6',
  'P4_9_7',
  'P4_11',
  'P4_12_1',
  'P4_12_2',
  'P4_12_3',
  'P4_12_4',
  'P4_12_5',
  'P4_12_6',
  'P4_12_7',
  'P4_13_1',
  'P4_13_2',
  'P4_13_3',
  'P4_13_4',
  'P4_13_5',
  'P4_13_6',
  'P4_13_7',
  'FAC_VIV',
  'FAC_MUJ',
  'ESTRATO',
  'UPM_DIS',
  'EST_DIS'],
 'TB_SEC_X.csv': ['ID_VIV',
  'ID_PER',
  'UPM',
  'VIV_SEL',
  'HOGAR',
  'N_REN',
  'DOMINIO',
  'CVE_ENT',
  'NOM_ENT',
  'CVE_MUN',
  'NOM_MUN',
  'T_INSTRUM',
  'P10_1_1',
  'P10_1_2',
  'P10_1_3',
  'P10_1_4',
  'P10_1_5',
  'P10_1_6',
  'P10_1_7',
  'P10_1_8',
  'P10_1_9',
  'P10_2',
  'P10_3',
  'P10_4_1',
  'P10_4_2',
  'P10_4_3',
  'P10_5_01',
  'P10_5_02',
  'P10_5_03',
  'P10_5_04',
  'P10_5_05',
  'P10_5_06',
  'P10_5_07',
  'P10_5_08',
  'P10_5_09',
  'P10_5_10',
  'P10_5_11',
  'P10_6ANIO',
  'P10_6MES',
  'P10_7',
  'P10_8_1',
  'P10_8_2',
  'P10_8_3',
  'P10_8_4',
  'P10_8_5',
  'P10_8_6',
  'P10_8_7',
  'P10_8_8',
  'P10_8_9',
  'P10_8_10',
  'P10_8_11',
  'P10_8_12',
  'P10_8_13',
  'P10_8_14',
  'P10_8_15',
  'FAC_VIV',
  'FAC_MUJ',
  'ESTRATO',
  'UPM_DIS',
  'EST_DIS']}

In [11]:
# Create a Dataframe that shows which file has which column
df_columns = pd.DataFrame(columns=['File','Column'])

# Add to each row the column from the csv file and its source csv file
for key,values in col_dict.items():
    for value in values:
        row = {
            'File': key,
            'Column' : value
        }
        df_columns = df_columns.append(row,ignore_index=True)
df_columns.head(60)

         File   Column
0    TVIV.csv   ID_VIV
1    TVIV.csv      UPM
2    TVIV.csv  VIV_SEL
3    TVIV.csv  CVE_ENT
4    TVIV.csv  NOM_ENT
5    TVIV.csv  CVE_MUN
6    TVIV.csv  NOM_MUN
7    TVIV.csv  COD_RES
8    TVIV.csv     P1_1
9    TVIV.csv     P1_2
10   TVIV.csv   P1_2_A
11   TVIV.csv     P1_3
12   TVIV.csv   P1_4_1
13   TVIV.csv   P1_4_2
14   TVIV.csv   P1_4_3
15   TVIV.csv   P1_4_4
16   TVIV.csv   P1_4_5
17   TVIV.csv   P1_4_6
18   TVIV.csv   P1_4_7
19   TVIV.csv   P1_4_8
20   TVIV.csv   P1_4_9
21   TVIV.csv     P1_5
22   TVIV.csv     P1_6
23   TVIV.csv     P1_7
24   TVIV.csv     P1_8
25   TVIV.csv     P1_9
26   TVIV.csv  P1_10_1
27   TVIV.csv  P1_10_2
28   TVIV.csv  P1_10_3
29   TVIV.csv  P1_10_4
30   TVIV.csv  FAC_VIV
31   TVIV.csv  DOMINIO
32   TVIV.csv  EST_DIS
33   TVIV.csv  UPM_DIS
34   TVIV.csv  ESTRATO
35  TSDem.csv   ID_VIV
36  TSDem.csv   ID_PER
37  TSDem.csv      UPM
38  TSDem.csv  VIV_SEL
39  TSDem.csv  CVE_ENT
40  TSDem.csv  NOM_ENT
41  TSDem.csv  CVE_MUN
42  TSDem.csv  NOM_MUN
43  TSDem.csv    HOGAR
44  TSDem.csv    N_REN
45  TSDem.csv   NOMBRE
46  TSDem.csv    PAREN
47  TSDem.csv     SEXO
48  TSDem.csv     EDAD
49  TSDem.csv     P2_5
50  TSDem.csv     P2_6
51  TSDem.csv      NIV
52  TSDem.csv      GRA
53  TSDem.csv     P2_8
54  TSDem.csv     P2_9
55  TSDem.csv    P2_10
56  TSDem.csv    P2_11
57  TSDem.csv    P2_12
58  TSDem.csv    P2_13
59  TSDem.csv    P2_14

In [14]:
# Drop the duplicate column names, regardless of the file name
df_columns.drop_duplicates(subset='Column',inplace=True)
# Reset the DataFrame Index
df_columns.reset_index()
# Show the resulting dataframe
df_columns

             File    Column
0        TVIV.csv    ID_VIV
1        TVIV.csv       UPM
2        TVIV.csv   VIV_SEL
3        TVIV.csv   CVE_ENT
4        TVIV.csv   NOM_ENT
..            ...       ...
222  TB_SEC_X.csv  P10_8_11
223  TB_SEC_X.csv  P10_8_12
224  TB_SEC_X.csv  P10_8_13
225  TB_SEC_X.csv  P10_8_14
226  TB_SEC_X.csv  P10_8_15

[170 rows x 2 columns]

In [13]:
# Loop through the resulting DataFrame and print the contents using the format that can be copy pasted to the schema.sql file to avoid having to type all this manually
for index,row in df_columns.iterrows():
    file_name = row['File'].replace('.csv','')
    print(f'{file_name}.{row["Column"]},')

tviv.ID_VIV,
tviv.UPM,
tviv.VIV_SEL,
tviv.CVE_ENT,
tviv.NOM_ENT,
tviv.CVE_MUN,
tviv.NOM_MUN,
tviv.COD_RES,
tviv.P1_1,
tviv.P1_2,
tviv.P1_2_A,
tviv.P1_3,
tviv.P1_4_1,
tviv.P1_4_2,
tviv.P1_4_3,
tviv.P1_4_4,
tviv.P1_4_5,
tviv.P1_4_6,
tviv.P1_4_7,
tviv.P1_4_8,
tviv.P1_4_9,
tviv.P1_5,
tviv.P1_6,
tviv.P1_7,
tviv.P1_8,
tviv.P1_9,
tviv.P1_10_1,
tviv.P1_10_2,
tviv.P1_10_3,
tviv.P1_10_4,
tviv.FAC_VIV,
tviv.DOMINIO,
tviv.EST_DIS,
tviv.UPM_DIS,
tviv.ESTRATO,
tsdem.ID_PER,
tsdem.HOGAR,
tsdem.N_REN,
tsdem.NOMBRE,
tsdem.PAREN,
tsdem.SEXO,
tsdem.EDAD,
tsdem.P2_5,
tsdem.P2_6,
tsdem.NIV,
tsdem.GRA,
tsdem.P2_8,
tsdem.P2_9,
tsdem.P2_10,
tsdem.P2_11,
tsdem.P2_12,
tsdem.P2_13,
tsdem.P2_14,
tsdem.P2_15,
tsdem.P2_16,
tsdem.COD_M15,
tsdem.CODIGO,
tsdem.REN_MUJ_EL,
tsdem.REN_INF_AD,
tsdem.FAC_MUJ,
tb_sec_iii.T_INSTRUM,
tb_sec_iii.P3_1,
tb_sec_iii.P3_2,
tb_sec_iii.P3_3,
tb_sec_iii.P3_4,
tb_sec_iii.P3_5,
tb_sec_iii.P3_6,
tb_sec_iii.P3_7,
tb_sec_iii.P3_8,
tb_sec_iv.N_REN_ESP,
tb_sec_iv.P4AB_1,
tb_sec_iv.P4AB_2,
tb_sec_iv.P4A_1,
tb_sec_iv.P4A_2,
tb_sec_iv.P4B_1,
tb_sec_iv.P4B_2,
tb_sec_iv.P4BC_1,
tb_sec_iv.P4BC_2,
tb_sec_iv.P4C_1,
tb_sec_iv.P4BC_3,
tb_sec_iv.P4BC_4,
tb_sec_iv.P4BC_5,
tb_sec_iv.P4_1,
tb_sec_iv.P4_2,
tb_sec_iv.P4_2_1,
tb_sec_iv.P4_3,
tb_sec_iv.P4_4,
tb_sec_iv.P4_4_CVE,
tb_sec_iv.P4_5_AB,
tb_sec_iv.P4_5_1_AB,
tb_sec_iv.P4_6_AB,
tb_sec_iv.P4_7_AB,
tb_sec_iv.P4_8_1,
tb_sec_iv.P4_8_2,
tb_sec_iv.P4_8_3,
tb_sec_iv.P4_8_4,
tb_sec_iv.P4_8_5,
tb_sec_iv.P4_8_6,
tb_sec_iv.P4_8_7,
tb_sec_iv.P4_9_1,
tb_sec_iv.P4_9_2,
tb_sec_iv.P4_10_2_1,
tb_sec_iv.P4_10_2_2,
tb_sec_iv.P4_10_2_3,
tb_sec_iv.P4_9_3,
tb_sec_iv.P4_10_3_1,
tb_sec_iv.P4_10_3_2,
tb_sec_iv.P4_10_3_3,
tb_sec_iv.P4_9_4,
tb_sec_iv.P4_9_5,
tb_sec_iv.P4_9_6,
tb_sec_iv.P4_9_7,
tb_sec_iv.P4_11,
tb_sec_iv.P4_12_1,
tb_sec_iv.P4_12_2,
tb_sec_iv.P4_12_3,
tb_sec_iv.P4_12_4,
tb_sec_iv.P4_12_5,
tb_sec_iv.P4_12_6,
tb_sec_iv.P4_12_7,
tb_sec_iv.P4_13_1,
tb_sec_iv.P4_13_2,
tb_sec_iv.P4_13_3,
tb_sec_iv.P4_13_4,
tb_sec_iv.P4_13_5,
tb_sec_iv.P4_13_6,
tb_sec_iv.P4_13_7,
tb_sec_x.P10_1_1,
tb_sec_x.P10_1_2,
tb_sec_x.P10_1_3,
tb_sec_x.P10_1_4,
tb_sec_x.P10_1_5,
tb_sec_x.P10_1_6,
tb_sec_x.P10_1_7,
tb_sec_x.P10_1_8,
tb_sec_x.P10_1_9,
tb_sec_x.P10_2,
tb_sec_x.P10_3,
tb_sec_x.P10_4_1,
tb_sec_x.P10_4_2,
tb_sec_x.P10_4_3,
tb_sec_x.P10_5_01,
tb_sec_x.P10_5_02,
tb_sec_x.P10_5_03,
tb_sec_x.P10_5_04,
tb_sec_x.P10_5_05,
tb_sec_x.P10_5_06,
tb_sec_x.P10_5_07,
tb_sec_x.P10_5_08,
tb_sec_x.P10_5_09,
tb_sec_x.P10_5_10,
tb_sec_x.P10_5_11,
tb_sec_x.P10_6ANIO,
tb_sec_x.P10_6MES,
tb_sec_x.P10_7,
tb_sec_x.P10_8_1,
tb_sec_x.P10_8_2,
tb_sec_x.P10_8_3,
tb_sec_x.P10_8_4,
tb_sec_x.P10_8_5,
tb_sec_x.P10_8_6,
tb_sec_x.P10_8_7,
tb_sec_x.P10_8_8,
tb_sec_x.P10_8_9,
tb_sec_x.P10_8_10,
tb_sec_x.P10_8_11,
tb_sec_x.P10_8_12,
tb_sec_x.P10_8_13,
tb_sec_x.P10_8_14,
tb_sec_x.P10_8_15,